<div class="flex flex-col items-center justify-center min-h-screen w-full bg-gray-200 py-10 px-4">
 <div class="flex flex-col lg:flex-row shadow-md w-full max-w-4xl rounded-md overflow-hidden bg-white">

<div class="flex flex-col justify-center items-center p-8 w-full lg:w-1/2">
 <div class="w-full max-w-sm">
 <h1 class="text-xl font-semibold text-center mb-1">Centro de idiomas </h1>
 <img src="https://i.imgur.com/3IrrT0X.png" alt="Logo IESP" class="mx-auto w-32 h-auto my-4">
 <h1 class="text-xl font-semibold text-center mb-1">IESP Antonio Lorena</h1>


<form [formGroup]="form" (ngSubmit)="submit()">
<div class="mb-3">
<label class="block text-xs font-semibold mb-1">Correo</label>
 <input type="email" formControlName="email" placeholder="Ingrese su correo institucional"
class="w-full border rounded-md px-3 py-2 text-sm border-gray-300 focus:ring-2 focus:ring-purple-700 focus:outline-none" />
 </div>

 <div class="mb-3">
<label class="block text-xs font-semibold mb-1">Contraseña</label>
<input type="password" formControlName="password" placeholder="********"
 class="w-full border rounded-md px-3 py-2 text-sm border-gray-300 focus:ring-2 focus:ring-purple-700 focus:outline-none" />
 </div>

<div class="mb-3 text-right">
 <a href="#" class="text-xs text-purple-700 font-semibold">¿Olvidaste tu contraseña?</a>
 </div>

 <div class="mb-3">
 <button type="submit" [disabled]="form.invalid"
 class="w-full text-white bg-purple-700 hover:bg-purple-800 rounded-md px-3 py-2 text-sm font-semibold disabled:opacity-50">Acceder</button>
 <p *ngIf="error" class="text-red-500 text-sm mt-2 text-center">{{ error }}</p>
 </div>

 <div class="mb-3">
 <button type="button"
class="flex items-center justify-center w-full border border-gray-300 hover:border-gray-500 rounded-md px-3 py-2">
 <img class="w-5 h-5 mr-2" src="https://lh3.googleusercontent.com/COxitqgJr1sJnIDe8-jiKhxDx1FrYbtRHKJ9z_hELisAlapwE9LUPh6fcXIfb5vwpbMl4xl9H9TRFPc5NOO8Sb3VSgIBrfRYvW6cUA" />
 Iniciar con Google
 </button>
</div>
</form>
 <div class="text-center mt-4">
<span class="text-xs text-gray-400 font-semibold">¿No tienes cuenta?</span>
<a href="#" class="text-xs font-semibold text-purple-700 ml-1">Regístrate</a>
 </div>
 </div> </div>

 <div class="hidden lg:block w-full lg:w-1/2">
 <img src="https://i.imgur.com/gBUqrrT.png" alt="Login banner" class="w-full h-full object-cover">
 </div>
 </div>
<div class="mt-5 text-center text-xs text-gray-600">
     © {{ currentYear }} Desarrollado por <span class="text-purple-700 font-semibold">Libio</span>. Todos los derechos reservados.
</div>